.slider{
    background-color: white;
    min-height: fit-content;
    height: auto;
    color: black;
    /* background-image: url(".header_background.jpg"); */
    padding-top: 10rem;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: column;
    z-index: 3;
}
.intro_text{
    font-size: 4rem;
    text-align: center;
    width: 50%;
}

.cta_items{
    margin-top: 3rem;
}
.cta_items *{
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem;
    border-radius: 20rem;
    border: 1px solid black;
    color: black;
    padding: 1rem;
}
.intro_text_description{
    font-size: 3rem;

    background-position: right bottom !important;
    /* background-image: linear-gradient(270deg, var(--secondary_color),var(--black_color)); */
    background-image: linear-gradient(270deg, red,blue,yellowgreen);
    background-size: 50% 3px;
    height: 4px;
    background-repeat: no-repeat;
    transition: background-size 300ms ease;

}

.intro_text_description:hover{
    background-size: 100% 3px;
  }
.video{
    position: absolute;
    height: auto;
}



@media only screen and (max-width:700px) {
    .intro_text{
        font-size: 3rem;
        width: 80%;
    }
  }
