.carsHeader {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(7, 7, 7, 0.85), rgba(16, 3, 3, 0.1)),
    url(./green-lambo.jpg);
  min-height: 80vh;
  height: auto;
  color: white;
  text-align: center;
}

.carsHeader h2 {
  padding-top: 5rem;
  font-size: 3rem;
}

.carsHeader p {
  width: 70%;
  font-size: 1.3rem;
  margin-left: 15%;
  padding-top: 2rem;
}

.carsCategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

.car_preview_cards {
  min-width: auto;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem 0 2rem 0;
}
.car_preview_cards *:last-child {
  margin: 1rem;
}

.seeMore {
  text-decoration: none;
  margin: 1rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 1rem;
}

@media only screen and (max-width: 880px) {
  .carsCategories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .carsCategories {
    grid-template-columns: repeat(1, 1fr);
  }
}
