.sectionCharts h2 {
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
}
.charts {
  width: 40%;
  text-align: center;
  display: flex;
  padding: 3rem;
  align-items: center;
  /* justify-content: center; */
}

.charts * {
  flex: 1;
}

@media only screen and (max-width: 700px) {
  .charts {
    flex-direction: column;
    width: fit-content;
  }
}
